* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 18px/140% "Roboto", sans-serif;
}

.stopwatch {
  padding: 60px 0;
  text-align: center;
}

.time-number {
  font-size: 50px;
  color: #959595;
}
.timer {
  margin-bottom: 20px;
}

.stopwatch-btn {
  width: 100px;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
}

.btn-start {
  background-color: #098748;
}
.btn-stop {
  background-color: #e3250c;
}
.btn-resume {
  background-color: #a006c7;
}
.btn-reset {
  background-color: #d78322;
}

.stopped-time {
  color: #959595;
  padding: 10px;
}
